@charset "UTF-8";
    .public-pro{
        height: 330px;
        background-color: white;
        padding: 30px;
        box-shadow: 0px 1px 1px 1px lightgray;
    }
    .public-pro>a{
        font-size: 18px;
        color: #707070;
        font-weight: 800;
    }
    .public-list{
        margin-top: 20px;
        display: flex;
        height: 240px;
        align-items: center;
        justify-content: space-around;
        /*box-shadow: 0px 0px 5px 1px lightgray;*/
    }
    /*프로젝트 스타일*/
    .proStyle{
        width: 190px;
        height: 170px;
        border-radius: 10px;    
        background-color: #E97E7E;
        padding: 15px;
    }
	.proStyle:hover{
	    opacity: 0.9;
	}
	.count-0{
		background-color: white;
		border: 2px solid  black;
	}
    .pro-title{
        display: block;
        height: 80%;
    }
    .pro-title span{
    	color: white;
        font-size: 17px;
        font-weight: 600;
    	cursor: pointer;
    }
    .pro-info{
    	height: 20%;
    	color: white;
    }
/*     .pro-info>a{
        color: white;
    } */
    .projectLike{
        float: right;
        font-size: 20px;
        margin-right: 5px;
        color: white;
        cursor: pointer;
    }
    
	.count-0>.pro-title span{
       	color: black;
    }
    .count-0>.pro-info{
    	color: black;
    }
    .count-0>.pro-info>a{
        color: black;
    }


    