<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="addbook">

	<select id="selectAddbook" resultType="Member">
		SELECT

		    M.MEM_POSITION AS memPosition, 
		    M.MEM_NAME AS memName,
		    M.MEM_PHONE AS MEMPHONE,
		    M.MEM_TELL AS MEMTELL,
		    M.MEM_EMAIL AS MEMEMAIL,
		    M.MEM_PROFILE AS MEMPROFILE,
		    ( SELECT
		        DEPT_NAME
		    FROM
		        DEPARTMENT
		    WHERE
		        DEPT_CODE = M.DEPT_CODE
		    ) AS DEPT_NAME
		FROM MEMBER M

	</select>

</mapper>
