<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="addbook">


	<sql id="sql_selectAddbook">
		SELECT
		M.MEM_NO AS memNo,
		M.MEM_POSITION AS memPosition,
		M.MEM_NAME AS memName,
		M.MEM_BIRTH AS memBirth,
		M.MEM_ADDRESS AS memAddress,
		M.MEM_PHONE AS MEMPHONE,
		M.MEM_TELL AS MEMTELL,
		M.MEM_EMAIL AS MEMEMAIL,
		M.MEM_PROFILE AS MEMPROFILE,
		( SELECT
		DEPT_NAME
		FROM
		DEPARTMENT
		WHERE
		DEPT_CODE = M.DEPT_CODE
		) AS DEPT_NAME
		FROM MEMBER M
		WHERE MEM_DEL_YN='N'
	</sql>

	<!-- 사내주소록 쿼리 -->
	<select id="selectAddbook" resultType="Member">
		<include refid="sql_selectAddbook"></include>
	</select>

	<!-- 인사정보 쿼리 -->
	<select id="information" resultType="Member">

		<!-- 쿼리문 재작성 하기. -->
		SELECT
		M.MEM_NO AS memNo,
		M.MEM_POSITION AS memPosition,
		M.MEM_NAME AS memName,
		M.MEM_BIRTH AS memBirth,
		M.MEM_ADDRESS AS memAddress,
		M.MEM_PHONE AS MEMPHONE,
		M.MEM_TELL AS MEMTELL,
		M.MEM_EMAIL AS MEMEMAIL,
		M.MEM_PROFILE AS MEMPROFILE,
		( SELECT
		DEPT_NAME
		FROM
		DEPARTMENT
		WHERE
		DEPT_CODE = M.DEPT_CODE
		) AS DEPT_NAME
		FROM MEMBER M
		WHERE MEM_NO=#{memNo}
	</select>

	<!--  인사정보 쿼리
	SELECT * FROM MEM_DEPT,LICENSE,Career,Military WHERE MEM_DEPT.MEM_NO=LICENSE.MEM_NO 
		AND Career.MEM_NO=Military.MEM_NO; -->

	<!-- 사원전체 주소록 검색(서치)쿼리 -->
	<select id="allMemberList" parameterType="hashmap" resultType="Member">
		SELECT MEM_NO as memNo,
		MEM_PWD as memPwd,
		MEM_POSITION as memPosition,
		DEPT_CODE as deptCode,
		MEM_NAME as memName,
		MEM_BIRTH as memBirth,
		MEM_GENDER as memGender,
		MEM_ADDRESS as memAddress,
		MEM_PHONE as memPhone,
		MEM_TELL as memTell,
		MEM_EMAIL as memEmail,
		MEM_PROFILE as memProfile,
		MEM_HOLIDAY_COUNT as memHolidayCount,
		MEM_JOIN_DATE as memJoinDate,
		MEM_RESIGN_YN as memResignYN,
		MEM_RESIGN_DATE as memResigndate,
		MEM_DEL_YN as memDelYN,
		MEM_DEL_DATE as memDelDate,
		MEM_RIGHT_CODE as memRightCode
		FROM (SELECT ROW_NUMBER()OVER(ORDER BY MEM_JOIN_DATE DESC) AS RNUM,
		MEMBER.* FROM MEMBER)
		WHERE MEM_DEL_YN='N'
		<if test="selectBox == 'name'">
			AND mem_name LIKE '%'||#{searchText}||'%'
		</if>
		<if test="selectBox == 'dept'">

		</if>
		<if test="selectBox == 'position'">

		</if>
		AND RNUM BETWEEN #{start} AND #{end}
	</select>

</mapper>
