<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
  
  <!-- 공통 파일 DB 저장 매퍼 -->
  
  <!-- BY 다빈  부서별 게시판 - 게시판 select -->
  <select id="allPartBoardList" parameterType="String" resultType="PartBoard">
  	SELECT 
		PART_NO AS partNo,
		PART_TITLE AS partTitle,
		DEPT_CODE AS deptCode,
		PART_DATE AS partDate,
		MEM_NO AS memNo,
		PART_WRITER AS partWriter,
		PART_CONTENT AS partContent,
		PART_HITS AS partHits,
		PART_DEL_YN AS partDelYN,
		PART_DEL_DATE AS partDelDate 
	FROM (
		SELECT 
			ROW_NUMBER() OVER (ORDER BY A.PART_DATE DESC) AS NUM,
			A.*
		FROM PART_BOARD A 
		WHERE PART_DEL_YN='N' AND DEPT_CODE=#{deptCode}
		) 
	WHERE NUM BETWEEN 1 AND 10
  </select>
  <!-- BY 다빈  부서별 게시판 - 게시판 insert - 게시판번호 채번 -->
  <select id="selectNumber" resultType="int">
  	SELECT PART_BOARD_SEQ.NEXTVAL FROM DUAL
  </select>
  <!-- BY 다빈  부서별 게시판 - 게시판 insert-->
  <insert id="addPost" parameterType="PartBoard">
  	INSERT INTO PART_BOARD VALUES(
  		#{partNo},
  		#{partTitle},
  		#{deptCode},
  		DEFAULT,
  		#{memNo},
  		#{partWriter},
  		#{partContent},
  		0,
  		DEFAULT,
  		NULL
  	)
  </insert>
  <insert id="insertPartFile" parameterType="BoardFile">
  	INSERT INTO PART_FILE VALUES(
  		PART_BOARD_FILE_SEQ.NEXTVAL,
  		#{postNo},
  		#{origName},
  		#{chgName},
  		#{path},
  		#{size},
  		DEFAULT
  	)
  </insert>
  
</mapper>
