<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<select id="selectOneAsMemNo" parameterType="Member" resultType="Member">
		SELECT
			MEM_NO as memNo,
			MEM_PWD as memPwd,
			MEM_POSITION as memPosition,
			DEPT_CODE as deptCode,
			MEM_NAME as memName,
			MEM_BIRTH as memBirth,
			MEM_GENDER as memGender,
			MEM_ADDRESS as memAddress,
			MEM_PHONE as memPhone,
			MEM_TELL as memTell,
			MEM_EMAIL as memEmail,
			MEM_PROFILE as memProfile,
			MEM_HOLIDAY_COUNT as memHolidayCount,
			MEM_JOIN_DATE as memJoinDate,
			MEM_RESIGN_YN as memResignYN,
			MEM_RESIGN_DATE as memResigndate,
			MEM_DEL_YN as memDelYN,
			MEM_DEL_DATE as memDelDate,
			MEM_RIGHT_CODE as memRightCode
		FROM member
		WHERE m.MEM_NO=#{memNo}
	</select>
	
	<select id="loginMember" parameterType="Member" resultType="Member">
		SELECT
			m.MEM_NO as memNo,
			m.MEM_PWD as memPwd,
			m.MEM_POSITION as memPosition,
			m.DEPT_CODE as deptCode,
			m.MEM_NAME as memName,
			m.MEM_BIRTH as memBirth,
			m.MEM_GENDER as memGender,
			m.MEM_ADDRESS as memAddress,
			m.MEM_PHONE as memPhone,
			m.MEM_TELL as memTell,
			m.MEM_EMAIL as memEmail,
			m.MEM_PROFILE as memProfile,
			m.MEM_HOLIDAY_COUNT as memHolidayCount,
			m.MEM_JOIN_DATE as memJoinDate,
			m.MEM_RESIGN_YN as memResignYN,
			m.MEM_RESIGN_DATE as memResigndate,
			m.MEM_DEL_YN as memDelYN,
			m.MEM_DEL_DATE as memDelDate,
			m.MEM_RIGHT_CODE as memRightCode,
			d.DEPT_NAME as deptName
		FROM member m left join department d on(m.dept_code=d.dept_code)
		WHERE m.MEM_NO=#{memNo} and m.MEM_PWD=#{memPwd}
	</select>
	
	<!-- BY 다빈 - 관리자탭(인사관리) - 통합사원 목록 / 사원 총 수 -->
	<select id="allMemberCount" resultType="int">
		SELECT COUNT(*) AS MEM_ALL_COUNT FROM MEMBER WHERE MEM_DEL_YN='N'
	</select>
	
	<!-- BY 다빈 - 관리자탭(인사관리) - 통합사원 목록 / 전사원 리스트 -->
	<select id="allMemberList" parameterType="hashmap" resultType="Member">
		SELECT MEM_NO as memNo,
				MEM_PWD as memPwd,
				MEM_POSITION as memPosition,
				DEPT_CODE as deptCode,
				MEM_NAME as memName,
				MEM_BIRTH as memBirth,
				MEM_GENDER as memGender,
				MEM_ADDRESS as memAddress,
				MEM_PHONE as memPhone,
				MEM_TELL as memTell,
				MEM_EMAIL as memEmail,
				MEM_PROFILE as memProfile,
				MEM_HOLIDAY_COUNT as memHolidayCount,
				MEM_JOIN_DATE as memJoinDate,
				MEM_RESIGN_YN as memResignYN,
				MEM_RESIGN_DATE as memResigndate,
				MEM_DEL_YN as memDelYN,
				MEM_DEL_DATE as memDelDate,
				MEM_RIGHT_CODE as memRightCode 
		FROM (SELECT ROW_NUMBER()OVER(ORDER BY MEM_JOIN_DATE DESC) AS RNUM, MEMBER.* FROM MEMBER)
		WHERE MEM_DEL_YN='N' AND (RNUM BETWEEN ${start} AND ${end})
	</select>
	
</mapper>
