<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="project">

	<!-- 새 프로젝트 생성 -->
	<insert id="insertProject" parameterType="Project">
		INSERT INTO PROJECT VALUES(PROJECT_SEQ.NEXTVAL, #{memNo}, #{proSubject}, #{proExp}, SYSDATE, #{publicYN}, 'N', 'N', NULL, 1)
	</insert>
	
	<!-- 프로젝트를 생성한 사람을 통해 프로젝트 정보 가져오기 -->
	<select id="selectAllProject" resultType="Project">
		SELECT
			PRO_NO as proNo,
			MEM_NO as memNo,
			PRO_SUBJECT as proSubject,
			PRO_EXP as proExp,
			PRO_DATE as proDate,
			PUBLIC_YN as publicYN,
			COMP_YN as compYN,
			COMP_DATE as compDate,
			MEM_COUNT as memCount
		FROM PROJECT
		WHERE MEM_NO = #{memNo} AND DEL_YN = 'N'
		ORDER by PRO_NO DESC
	</select>
	
	<!-- 공개 프로젝트 목록 가져오기 -->
	<select id="selectPublicProject" resultType="Project">
		SELECT
			PRO_NO as proNo,
			MEM_NO as memNo,
			PRO_SUBJECT as proSubject,
			PRO_EXP as proExp,
			PRO_DATE as proDate,
			PUBLIC_YN as publicYN,
			COMP_YN as compYN,
			COMP_DATE as compDate,
			MEM_COUNT as memCount
		FROM PROJECT
		WHERE PUBLIC_YN = 'Y' AND DEL_YN = 'N'
		ORDER by PRO_NO DESC
	</select>
	
	<!-- 프로젝트 번호로 프로젝트 정보 가져오기  -->
	<select id="selectOneProject" resultType="Project">
		SELECT
			PRO_NO as proNo,
			MEM_NO as memNo,
			PRO_SUBJECT as proSubject,
			PRO_EXP as proExp,
			PRO_DATE as proDate,
			PUBLIC_YN as publicYN,
			COMP_YN as compYN,
			COMP_DATE as compDate,
			MEM_COUNT as memCount
		FROM PROJECT
		WHERE PRO_NO=#{proNo} AND DEL_YN='N'
	</select>
	
	<!-- 프로젝트의 제목으로 프로젝트 정보 가져오기 -->
	<select id="selectOneProjectSubject" resultType="Project">
		SELECT
			PRO_NO as proNo,
			MEM_NO as memNo,
			PRO_SUBJECT as proSubject,
			PRO_EXP as proExp,
			PRO_DATE as proDate,
			PUBLIC_YN as publicYN,
			COMP_YN as compYN,
			COMP_DATE as compDate,
			MEM_COUNT as memCount
		FROM PROJECT
		WHERE PRO_SUBJECT=#{proSubject} AND DEL_YN='N'
	</select>
	
	<!-- 프로젝트 생성자는 바로 프로젝트 참여자로 들어가며 관리자로 설정됨 -->
	<insert id="insertProjectMemberAdmin" parameterType="ProjectMember">
		INSERT INTO PRO_MEMBER VALUES(#{proNo}, #{memNo}, 'Y', 'N')
	</insert>
	
	<!-- 해당 프로젝트 참여 멤버 가져오기 -->
	<select id="selectProjectMemberList" resultType="ProjectMember">
		SELECT
			PRO_NO as proNo,
			MEM_NO as memNo,
			MGR_YN as mgrYN,
			DEL_YN as delYN
		FROM PRO_MEMBER
		WHERE PRO_NO=#{proNo} AND DEL_YN='N'
	</select>
	
	<!-- 프로젝트 게시물 생성 -->
	<insert id="insertProjectBoard" parameterType="ProjectBoard">
		INSERT INTO PRO_BOARD VALUES(PRO_BOARD_SEQ.NEXTVAL, #{proNo}, #{memNo}, SYSTIMESTAMP, 'N', #{boardText}, #{imgName})
	</insert>
	
	<!-- 해당 프로젝트 게시물 가져오기 -->
	<select id="selectProjectBoardList" parameterType="ProjectBoard" resultType="ProjectBoard">
		SELECT
			BOARD_NO as boardNo,
			PRO_NO as proNo,
			MEM_NO as memNo,
			BOARD_DATE as boardDate,
			DEL_YN as delYN,
			BOARD_TEXT as boardText,
			IMG_NAME as imgName
		FROM PRO_BOARD
		WHERE DEL_YN='N' AND PRO_NO=#{proNo}
		ORDER by BOARD_NO DESC
	</select>
	
	<!-- 자신이 속한 프로젝트 목록 가져오기 -->
	<select id="selectMyProjectList" resultType="Project">
		SELECT
			PRO_NO as proNo,
			MEM_NO as memNo,
			PRO_SUBJECT as proSubject,
			PRO_EXP as proExp,
			PRO_DATE as proDate,
			PUBLIC_YN as publicYN,
			COMP_YN as compYN,
			COMP_DATE as compDate,
			MEM_COUNT as memCount
		FROM PROJECT
		WHERE DEL_YN='N' AND PRO_NO IN
        (SELECT PRO_NO FROM PRO_MEMBER WHERE MEM_NO=#{MEM_NO} AND DEL_YN='N')
	</select>
	
	<!-- 프로젝트 즐겨찾기 등록 -->
	<insert id="insertProjectFavor" parameterType="ProjectFavorite">
		INSERT INTO PRO_FAVOR VALUES(#{memNo}, #{proNo})
	</insert>
	
	<!-- 프로젝트 즐겨찾기 목록 -->
	<select id="selectProjectFavoriteList" resultType="Project">
		SELECT
			PRO_NO as proNo,
			MEM_NO as memNo,
			PRO_SUBJECT as proSubject,
			PRO_EXP as proExp,
			PRO_DATE as proDate,
			PUBLIC_YN as publicYN,
			COMP_YN as compYN,
			COMP_DATE as compDate,
			MEM_COUNT as memCount
		FROM PROJECT
		WHERE PRO_NO IN
        (SELECT PRO_NO FROM PRO_FAVOR WHERE MEM_NO=#{MEM_NO})
	</select>
	
	<!-- 프로젝트 즐겨찾기 삭제 -->
	<delete id="deleteProjectFavor" parameterType="ProjectFavorite">
		DELETE FROM PRO_FAVOR WHERE MEM_NO=#{memNo} AND PRO_NO=#{proNo}
	</delete>
	
	<!-- 프로젝트 게시물 댓글 작성 -->
	<insert id="insertBoardComment" parameterType="ProjectComment">
		INSERT INTO PRO_COMMENT VALUES(PRO_COMMENT_SEQ.NEXTVAL, #{boardNo}, #{memNo}, #{commentCon}, SYSTIMESTAMP, 'N')
	</insert>
	
	<!-- 프로젝트 번호에 따라 모든 댓글 출력 -->
	<select id="selectBoardCommentList" resultType="ProjectComment">
		SELECT 
		    COMMENT_NO as commentNo,
		    BOARD_NO as boardNo,
		    MEM_NO as memNo,
		    COMMENT_CON as commentCon,
		    COMMENT_DATE as commentDate,
		    DEL_YN as delYN
		FROM PRO_COMMENT
		WHERE DEL_YN='N' AND BOARD_NO IN 
		(SELECT BOARD_NO FROM PRO_BOARD WHERE DEL_YN='N' AND PRO_NO=#{proNo})
	</select>
	
	<!-- 프로젝트 게시물 댓글 수정 -->
	<update id="updateProjectComment" parameterType="ProjectComment">
		UPDATE PRO_COMMENT SET COMMENT_CON=#{commentCon} WHERE COMMENT_NO=#{commentNo}
	</update>
	
	<!-- 프로젝트 게시물 댓글 삭제 -->
	<update id="deleteProjectComment">
		UPDATE PRO_COMMENT SET DEL_YN='Y' WHERE COMMENT_NO=#{commentNo}
	</update>
	
	<!-- 프로젝트 수정하기 -->
	<update id="updateProject" parameterType="Project">
		UPDATE PROJECT SET 
			PRO_SUBJECT=#{proSubject},
			PRO_EXP=#{proExp},
			PUBLIC_YN=#{publicYN}
		WHERE PRO_NO=#{proNo}
	</update>
	
	<!-- 프로젝트 게시물 내용 수정 -->
	<update id="updateProjectBoard" parameterType="ProjectBoard">
		UPDATE PRO_Board SET 
			BOARD_TEXT=#{boardText}
		WHERE BOARD_NO=#{boardNo}
	</update>
	
	<!-- 프로젝트 게시물 삭제 -->
	<update id="deleteProjectBoard">
		UPDATE PRO_BOARD SET 
			DEL_YN='Y'
		WHERE BOARD_NO=#{boardNo}
	</update>
	
	<!-- 프로젝트 나가기 -->
	<update id="updateProjectMemberExit" parameterType="ProjectMember">
		UPDATE PRO_MEMBER SET 
			DEL_YN='Y'
		WHERE PRO_NO=#{proNo} AND MEM_NO=#{memNo}
	</update>
	
	<!-- 프로젝트 삭제 -->
	<update id="deleteProject" parameterType="Project">
		UPDATE PROJECT SET 
			DEL_YN='Y'
		WHERE PRO_NO=#{proNo}
	</update>
	
	<!-- 관리자 지정 -->
	<update id="updateProjectMgrSet" parameterType="ProjectMember">
		UPDATE PRO_MEMBER SET 
			MGR_YN='Y'
		WHERE PRO_NO=#{proNo} AND MEM_NO=#{memNo}
	</update>
	
	<!-- 관리자 지정 해제 -->
	<update id="updateProjectMgrCancel" parameterType="ProjectMember">
		UPDATE PRO_MEMBER SET 
			MGR_YN='N'
		WHERE PRO_NO=#{proNo} AND MEM_NO=#{memNo}
	</update>
	
	<!-- 일정 게시물 올리기 -->
	<insert id="insertProjectPlan" parameterType="ProjectPlan">
		INSERT INTO PRO_PLAN VALUES(PRO_BOARD_SEQ.NEXTVAL, #{proNo}, #{memNo}, #{subject}, #{memo}, #{startDate}, #{endDate}, 'N')
	</insert>
	<!-- 프로젝트 완료 미완료 처리 -->
	<update id="updateProjectComplate" parameterType="Project">
		UPDATE PROJECT SET 
			COMP_YN=#{compYN}
		WHERE PRO_NO=#{proNo}
	</update>
	
	<!-- 프로젝트 게시물에 사진 올릴 시 -->
	<insert id="insertProjectBoardFile" parameterType="ProjectFileData">
		INSERT INTO PRO_FILE VALUES(PRO_FILE_SEQ.NEXTVAL, #{proNo}, #{memNo}, #{originalFileName}, #{changedFileName}, #{filePath}, #{fileSize}, #{uploadTime}, 'N')
	</insert>
	
</mapper>
