<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="kr.or.houroffice.member.model.vo.Member" alias="Member"/>
		<typeAlias type="kr.or.houroffice.member.model.vo.Department" alias="Department"/> <!-- 부서  -->
		<typeAlias type="kr.or.houroffice.member.model.vo.AcademicAbility" alias="AcademicAbility"/> <!-- 학력 -->
		<typeAlias type="kr.or.houroffice.member.model.vo.Career" alias="Career"/> <!-- 경력 -->
		<typeAlias type="kr.or.houroffice.member.model.vo.License" alias="License"/> <!-- 자격증 -->
		<typeAlias type="kr.or.houroffice.member.model.vo.Military" alias="Military"/> <!-- 병력 -->
		<typeAlias type="kr.or.houroffice.project.model.vo.Project" alias="Project"/>
		<typeAlias type="kr.or.houroffice.project.model.vo.ProjectMember" alias="ProjectMember"/>
		<typeAlias type="kr.or.houroffice.project.model.vo.ProjectBoard" alias="ProjectBoard"/>
		<typeAlias type="kr.or.houroffice.approval.model.vo.Approval" alias="Approval"/>
		<typeAlias type="kr.or.houroffice.approval.model.vo.AprLineMember" alias="AprLineMember"/>
		<typeAlias type="kr.or.houroffice.project.model.vo.ProjectFavorite" alias="ProjectFavorite"/>
		<typeAlias type="kr.or.houroffice.project.model.vo.ProjectComment" alias="ProjectComment"/>
		<typeAlias type="kr.or.houroffice.project.model.vo.ProjectPlan" alias="ProjectPlan"/>
		<typeAlias type="kr.or.houroffice.timecard.model.vo.Holiday" alias="Holiday"/> <!-- 연차내역(켈린더) --> 
		<typeAlias type="kr.or.houroffice.personnel.model.vo.MemDept" alias="MemDept"/> <!-- 인사정보 --> 
		<typeAlias type="kr.or.houroffice.personnel.model.vo.Contact" alias="Contact"/> <!-- 개인주소록 -->
	</typeAliases>
</configuration>

